services:
    map:
        image: ghcr.io/netwerk-digitaal-erfgoed/ld-workbench:latest
        volumes: 
            - ./${DATASET}:/pipelines
        entrypoint: []
        network_mode: "host"

    fuseki:
        image: fuseki
        build:
            context: ../jena-fuseki-docker-5.6.0
            dockerfile: Dockerfile
            args:
            - JENA_VERSION=5.6.0
        command: '--config=/pipelines/fuseki/config.ttl'
        ports:
            - "3030:3030"
        volumes:
            - ./${DATASET}:/pipelines

    tools:
        build: ../europeana-tools
        user: $USER
        volumes:
              - ./${DATASET}:/pipelines
              - ./generic:/generic
#              
# NEEDS more configuration, should be mount on root pipelines dir
#    s3cmd:
#        image: d3fk/s3cmd
#        volumes:
#              - ./${DATASET}:/s3
#              - .s3:/root
